<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="com.modumind.spacex.app">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.modumind.spacex.app/css/default.css">
         </property>
         <property
               name="appName"
               value="com.modumind.spacex.app">
         </property>
         <!--property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_dark"/-->
      </product>
   </extension>

</plugin>
